<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/<%= planet.name.toLowerCase() %>.css">

        <title>Frontend Mentor | Planets fact site</title>
    </head>
    <body>
<%- include('../partials/header'); -%>

        <main>

            <div class="container-img">
            <img class="main-img" id="planet-img" src="<%= planet.images.planet %>" alt="">
            <img class="main-img hidden" id="internal-img" src="<%= planet.images.internal %>" alt="">
            <img class="main-img hidden" id="geology-img" src="<%= planet.images.geology %>" alt="">
            </div>

           
                <div class="description">
                <h2><%= planet.name %></h2>
                <p id="planet-content"><%= planet.overview.content %></p>
                <p class="hidden" id="structure-content"><%= planet.structure.content %></p>
                <p class="hidden" id="geology-content"><%= planet.geology.content %></p>

                <span class =wiki> Source : <a href="<%= planet.overview.source %>">Wikipedia <img src="/assets/icon-source.svg" alt="icon-source-wikipedia"></a> </span>
                </div>
                <div class=button-infos>
                    <button class="overview"><span class="button">01 Overview</span></button>
                    <button class="internal"><span class="button">02 Internal Structure</span></button>
                    <button class="geology"><span class="button">03 Surface Geology</span></button>
                </div>

            <dl>
                <div>
                    <dt>Rotation time</dt>
                    <dd><%= planet.rotation %></dd>
                </div>
                <div>
                    <dt>Revolution time</dt>
                    <dd><%= planet.revolution %></dd>
                </div>
                <div>
                    <dt>Radius</dt>
                    <dd><%= planet.radius %></dd>
                </div>
                <div>
                    <dt>Average Temp.</dt>
                    <dd><%= planet.temperature %></dd>
                </div>
            </dl>


        </main>
        
        <%- include('../partials/footer'); -%>
    </body>
    </html>