<%- include('../partials/header'); -%>

    <body>
        <main>

            <div class="container-img">
            <img src="<%= planet.images.internal %>" alt="">
            </div>

            <div class="container-infos">
                <h2><%= planet.name %></h2>

                <p>
                    <%= planet.overview.content %>
                    </p>

                <span>
                    
                    Source : <a href="<%= planet.overview.source %>">Wikipedia</a> 
                </span>

                <div class=button-infos>
                    <button><span class="button">01 Overview</span></button>
                    <button><span class="button">02 Internal Structure</span></button>
                    <button><span class="button">03 Surface Geology</span></button>
                </div>
            </div>


            <dl>
                <div>
                    <dt>Rotation time</dt>
                    <dd><%= planet.rotation %></dd>
                </div>
                <div>
                    <dt>Revolution time</dt>
                    <dd><%= planet.revolution %></dd>
                </div>
                <div>
                    <dt>Radius</dt>
                    <dd><%= planet.radius %></dd>
                </div>
                <div>
                    <dt>Average Temp.</dt>
                    <dd><%= planet.temperature %></dd>
                </div>
            </dl>


        </main>
    </body>

    </html>
    <%- include('../partials/footer'); -%>